[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log

# This is for enabling SSL support in Ubuntu 20.04.
# We need it to connect to MySQL Docker container from host command line client, e.g. "mysql -p ..."
# Otherwise it gives error trying to connect:
# ERROR 2026 (HY000): SSL connection error: error:1425F102:SSL routines:ssl_choose_client_version:unsupported protocol
tls_version=TLSv1.2
